<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="myForm">
          <div>

            <ion-item>
              <ion-input  formControlName="rfc" type="text" placeholder="RFC"></ion-input>
            </ion-item>

            <ion-item *ngIf="myForm.controls.rfc.invalid && myForm.controls.rfc.dirty">
              <p>*El RFC es obligatorio</p>
            </ion-item>

            <ion-item>
                <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
              </ion-item>

              <ion-item *ngIf="myForm.controls.name.invalid && myForm.controls.name.dirty">
                <p>*El Nombre es obligatorio</p>
              </ion-item>

              <ion-item>
                  <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
                </ion-item>

                <ion-item *ngIf="myForm.controls.email.invalid && myForm.controls.email.dirty">
                  <p>*El Email es obligatorio</p>
                </ion-item>

                <ion-list>
                <ion-item>
                    <ion-select formControlName="genero" placeholder="Genero">
                      <ion-select-option value="f">
                        Mujer
                      </ion-select-option>
                      <ion-select-option value="h">
                          Hombre
                        </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>

                  <ion-item *ngIf="myForm.controls.genero.invalid && myForm.controls.genero.dirty">
                    <p>*El Genero es obligatorio</p>
                  </ion-item>

                  <ion-item>
                    <ion-input formControlName="curp" type="text" placeholder="CURP"></ion-input>
                  </ion-item>

                  <ion-item *ngIf="myForm.controls.curp.invalid && myForm.controls.curp.dirty">
                    <p>*El CURP es invalido</p>
                  </ion-item>
          </div>

          <div>
            <ion-button type="button" [disabled]="myForm.invalid">Guardar</ion-button>
          </div>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>